DATABASE_URL=postgresql://postgresql:postgresql@localhost:5432/tennis_tracker?sslmode=disable
JWT_SECRET=xxx
PORT=8080
CORS_ORIGIN=http://localhost:3000
GIN_MODE=debug
ADMIN_USERNAME=xxx
ADMIN_PASSWORD=xx
ADMIN_NAME=xxxx